@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  body {
    background: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}